<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.edu.javeriana.ciclipointer">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegistroActivity" />
        <activity
            android:name=".InicioActivity"
            android:label="@string/title_activity_inicio"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".RecorridosActivity" />
        <activity android:name=".AmigosActivity" />
        <activity android:name=".UsuarioDetalleActivity" />
        <activity android:name=".NuevaActivity" />
        <activity android:name=".ViajeActivity" />
        <activity android:name=".OpcionesViajeActivity" />
        <activity android:name=".OpcionesViajeDetalleActivity" />
        <activity android:name=".MisRutasActivity" />
        <activity android:name=".MisRutasDetalleActivity" />
        <activity android:name=".NuevoGrupalActivity" />
        <activity android:name=".NuevoGrupalDetalleActivity" />
        <activity android:name=".AmigosGrupalActivity" />
        <activity android:name=".MisGrupalesActivity" />
        <activity android:name=".MisGrupalesAnfitrionActivity" />
        <activity android:name=".MisGrupalesInvitadoActivity" />
        <activity android:name=".MapInfoActivity"></activity>
    </application>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />

</manifest>